* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgba(72, 101, 127, 0.636);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 100%;
    height: 90vh;  
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.audio_box {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 7px;
    border: none;
    box-shadow: 2px 5px 12px;
    cursor: pointer;
    transform: scaleX(1.1);
    outline: none;
}
.audio_box:hover {
    transform: scaleX(1);
    transition: 1s cubic-bezier(0.234, -0.345, 0.24, 0.123);
}
.audio_box h2 {
    color: rgb(155, 115, 63);
}