* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.container ul {
    list-style-type: none;
    background-color: black;
    overflow: hidden;
}
.container li {
    display: inline-block;
    float: left;
    margin: 20px 0;
}
.container a {
    text-decoration: none;
    color: white;
   padding: 20px;
   background-color: black;
   font-size: 20px;
}
.container a.active {
    background-color: red;
}
.container a:hover {
    background-color: lightgray;
}
